{% extends 'base.html' %}
{% block content %}
    <div class='container py-2'>
        
        <div class='card p-3'>
            <div class="text-center">
            <img src="{{serie.capa.url}}" class='image-detalhes'/>
            </div>
            <div class="card-title text-center">
                <h1>{{serie.titulo}}</h1>
            </div>
            <div class="card-body text-center">
                <p>{{serie.descricao}}</p>
            </div>
            {% if request.user.is_superuser %}
            <div class="gap-2">
                <a class='btn btn-primary' href='{% url 'serie:cadastra_temporada' serie.slug %}'><i class='fa-solid fa-plus'></i></a>
                <a class='btn btn-primary' href='{% url 'serie:cadastra_episodio' serie.slug %}'><i class='fa-solid fa-plus'></i></a>
            </div>
            {% endif %}
            
            {% if temporadas %}
                {% for t in temporadas %}
                    <h5>{{t}}</h5>
                    {% for e in episodios %}
                        {% if e.temporada == t %}
                            <a href='{% url 'serie:detalhes_episodio' e.slug %}'>{{e}}<br></a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}