{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    {% if request.user.is_superuser %}
        <a class='btn btn-primary' href='{% url 'serie:cadastra_serie' %}'><i class='fa-solid fa-plus'></i></a>
        <a class='btn btn-primary' href='{% url 'serie:cadastra_temporada' %}'><i class='fa-solid fa-plus'></i></a>
        <a class='btn btn-primary' href='{% url 'serie:cadastra_episodio' %}'><i class='fa-solid fa-plus'></i></a>
    {% endif %}
    <div class='row my-2'>

    {% for s in series %}
    <div class='col-3'>
        <div class="card" style="width: 18rem; cursor:pointer;" onclick="location.href='{% url 'serie:detalhes_serie' s.slug %}'">
            <img class="card-img-top" src="{{s.capa.url}}" alt="Card image cap">
            <div class="card-body text-center">
                <p>{{s}}</p>
            </div>
          </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}