{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div class="container py-5">    
    
    
    
    <div class='row'>

    {% for s in series %}
    <div class='col-3'>
        <div class="card bg-dark seleciona-serie text-white" style="width: 18rem; cursor:pointer;" onclick="location.href='{% url 'serie:detalhes_serie' s.slug %}'">
            <img class="card-img-top" src="{{s.capa.url}}" alt="Card image cap">
            <div class="card-body text-center">
                <p>{{s}}</p>
            </div>
          </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock content %}