<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-danger" href="{% url 'home' %}">LF</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if active == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active == 'serie' %}active{% endif %}" href="{% url 'serie:cadastra_serie' %}"><i class="fa-solid fa-film"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active == 'temporada' %}active{% endif %}" href="{% url 'serie:cadastra_temporada' %}"><i class="fa-solid fa-table-cells"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active == 'episodio' %}active{% endif %}" href="{% url 'serie:cadastra_episodio' %}"><i class="fa-solid fa-square"></i></a>
          </li>          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>